



@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

*::-webkit-scrollbar {
    width: 5px;
}
*::-webkit-scrollbar-track {
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: #ce0694 ; 
    border-radius: 220px;
    border: transparent;
}

.active{
    background:#ce0694
}

