*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

*::-webkit-scrollbar {
    width: 5px;
}
*::-webkit-scrollbar-track {
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: rgba(214, 47, 47, 0.5);
    border-radius: 220px;
    border: transparent;
}

.active{
    background:rgb(111, 205, 130)
}

